{% extends 'catalog/base.html' %}

{% block content %}

    <div class="col-auto mb-5">
        <a class="btn btn-outline-primary" href="{% url 'blog:blog_create' %}">Добавить блог</a>
    </div>
    {% for object in object_list %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">
                        {% if object.is_active %}
                            {{ object|title }}
                        {% else %}
                            <span class="text-muted">
                                        {{ object|title }}
                                        </span>
                        {% endif %}
                    </p>
                    <div class="col-3">
                        <li>
                            {{ object.contents|slice:'100' }}
                        </li>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">

                        <div class="btn-group">
                            <a href="{% url 'blog:blog_view' slug=object.slug %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                            <a href="{% url 'blog:blog_edit' slug=object.slug %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Изменить</a>
                            <a href="{% url 'blog:blog_delete' slug=object.slug %}" type="button"
                               class="btn btn-sm btn-outline-danger">Удалить</a>
                        </div>
                        {% if perms.blog.can_edit_publication_sign_product %}
                            {% if object.publication_sign %}
                                <a class="btn btn-warning"
                                   href="{% url 'blog:toggle_active' object.pk %}">Деактивировать</a>
                            {% else %}
                                <a class="btn btn-success"
                                   href="{% url 'blog:toggle_active' object.pk %}">Активировать</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}